# username: prclt-frontend 2019-02-01T00:05:50.843Z
# allows access to restricted @percolate/* packages
//registry.npmjs.org/:_authToken=e5cf8d69-5a56-4cbf-8e3f-d268e6d21b69

# reset default registry to yarn
# re-attach auth token to yarn registry
registry=https://registry.yarnpkg.com
//registry.yarnpkg.com/:_authToken=e5cf8d69-5a56-4cbf-8e3f-d268e6d21b69
