version: 2

jobs:

  build:
    docker:
      - image: circleci/node:8-browsers
    working_directory: /home/circleci/blend
    steps:
      - checkout
      - add_ssh_keys

      - restore_cache:
          key: v1-yarn-deps-{{ arch }}-{{ checksum "yarn.lock" }}

      - run: yarn install --frozen-lockfile --cache-folder /tmp/.yarn_cache

      - save_cache:
          key: v1-yarn-deps-{{ arch }}-{{ checksum "yarn.lock" }}
          paths:
            - /tmp/.yarn_cache
            - packages/atatus/node_modules
            - packages/eslint-plugin-percolate/node_modules
            - packages/publisher/node_modules
            - packages/s3/node_modules

      - run: yarn test
      - run: ./node_modules/.bin/lerna run test
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" != "master" ]; then
                echo "Skipping: only runs on master"
                exit 0
            fi

            echo "//registry.npmjs.org/:_authToken=$NPMJS_TOKEN" >> ~/.npmrc
            ./node_modules/.bin/lerna exec -- ../publisher/bin/publish
