<% if(Object.keys(coverageByFile).length){ %>Diff coverage statistics:

<% Object.entries(coverageByFile).forEach(coverage => { %>  ${displayCoverage(coverage[1], 'lines', true)} ${getRelativePath(coverage[1].file)}
<% }); %><% } else { %>No coverage information found for any of the new lines in the diff.
<% } %>